/* ----------------CSS Reset-------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-------------END OF CSS RESET--------------*/
/* YOUR STYLES START HERE */
body {
  background-color: #808080;
  max-width: 1200px;
  margin: auto;
}
#upper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 55vh;
}
#upper aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
}
#upper .title {
  display: flex;
  align-items: center;
  /*border: 1px solid yellow; */
  height: 25vh;
  width: 85%;
  background-color: white;
  font-size: 60px;
}
#upper .title #report {
  width: 60%;
  padding-left: 3%;
}
#upper .sideBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  width: 70%;
  background-color: white;
}
#upper .sideBar #logo {
  height: 20%;
  margin-right: 15%;
}
#upper .sideBar #influencer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  padding: 10px;
}
#upper .sideBar #influencer h3 {
  width: 80%;
  font-size: 20px;
  line-height: 120%;
  font-style: italic;
  font-weight: 100;
}
#upper .sideBar #influencer h4 {
  width: 80%;
  font-style: italic;
}
#lower {
  height: 45vh;
  background-color: white;
}
#lower #revenueSummary {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10vh;
  width: 100%;
}
#lower .revenueCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 20%;
}
#lower .revenueCategory h5 {
  width: 100%;
  text-align: center;
  padding: 2px;
  font-weight: 500;
  font-size: 20px;
}
#lower .revenueCategory h3 {
  width: 100%;
  text-align: center;
  padding: 2px;
  font-size: 12px;
}
#lower #topLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lower #topLinks h2 {
  margin: 0px 30px 0px 30px;
}
#lower #topLinks .horizontalLine {
  height: 2px;
  width: 20%;
  background-color: #000000;
}
#lower .items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 15%;
  margin: 20px;
}
#lower .items .thumbnail {
  height: 200px;
  width: 100%;
  background-color: lightgray;
}
#lower .items h6 {
  text-align: center;
  font-weight: 600;
  padding: 2px;
}
#lower .items p {
  text-align: center;
  padding: 2px;
}
#lower .items .salesSummary {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
#lower .items .salesSummary .linkTotal {
  font-weight: 600;
}
#lower .items .salesSummary .pipe {
  height: 12px;
  border-left: 1px solid black;
  margin-left: 5px;
}
